{% extends 'base.html' %}
{% block head %}
	{{ block.super }}
    {% load staticfiles %}
{% endblock %}
{% block title %}
    Desencana, desencana, Oelixis
{% endblock %}
{% block body %}
    <div class="row container">
        <h5 class="center">Ultimos produtos postados:</h5>
            <br />

        {% for produto in produtos  %}
            <div class="card col m3">
                <a href="/{{ produto.link }}">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator img_produto responsive-img" src="{{ produto.imagem.url }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><h8>{{ produto.nome }}</h8></span>
                    <p><a href="/{{ produto.link }}">R$ {{ produto.preco }}</a></p>
                </div>
                </a>
            </div>
        {% endfor %}

    </div>
{% endblock %}