{% extends 'base.html' %}
{% block head %}
	{{ block.super }}
	{% load staticfiles %}
	<title>{% block title %}{{ produto.nome }} - Ohelixis {% endblock %}</title>
{% endblock %}
{% block body %}
 <div class="row blockContainer">
		<div class="col s12 m6 center">
			{% if produto.imagem %}
					<img class="activator img_produto_grande responsive-img" src="{{ produto.imagem.url }}">
			{% endif %}
		</div>
		<div class="block col s12  m6">
			<h2 class="thin">{{produto.nome}}</h2>
			<ul class="col s12 m12 ">
				<li id="definicao" class="divider divisor"></li>
				<br />
				<li><h6>{{produto.descricao}}</h6></li>
				<li><h3 class="blue-text">R$ {{produto.preco}}<h3></li>
				 {%  if user.is_authenticated  %}
					<li><div id="compra" class="btn-large blue">Comprar</div></li>
				{% else %}
					<li><a href="/admin/login/?next=/"{{ produto.link }}"/" class="btn-large blue">Fazer Login</a></li>
				{% endif %}
			</ul>
		</div>
 </div>
{% endblock %}
