:root{
    --primary: ;
    --secondary:black;
}

body{
    background-color: #eceff1;
 }

.img_produto {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;

}

.img_produto_grande {
    max-width:550px;
    max-height:550px;
    width: auto;
    height: auto;

}